@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(to right, #0a0a0a, #3a4452);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container {
    border: 2px solid #717377;
    background: transparent;
    padding: 32px;
    border-radius: 1rem;
    box-shadow: 0 3px 9px rgba(113,115,119,0.5);
}

input {
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background: transparent;
    box-shadow: 0 2px 6px rgba(84,84,84,0.1);
    text-align: right;
    font-size: 40px;
    color: white;
}


button {
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50px;
    background: transparent;
    color: white;
    font-size: 1.2rem;
    box-shadow: 0 2px 6px rgba(255,255,255,0.1);
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    cursor: pointer;
    background: rgba(19, 42, 14, 0.716);
}

.operator {
    color: greenyellow;
}

#equal-btn {
    background: orangered;
}